body {
  margin: 0;
  padding: 0;
  color: #555555;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hamflex {
  position: absolute;
  right: 0;
}

.wrappernav {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  border-top: 1px solid rgba(189, 189, 189, 0.2);
  border-bottom: 11px solid rgba(189, 189, 189, 0.2);
  align-self: center;
}

.navbarwrap {
  display: flex;
}

.icon {
  display: block;
  width: 28px;
  height: 28px;
  margin: auto;
}

.navlogo > a {
  background-color: #000;
  display: block;
  height: 18px;
  padding: 16px 20px;
  width: 70px;
}

.flex-wrap-header {
  display: flex;
}

li.list {
  border-left: 1px solid rgba(189, 189, 189, 0.2);
  padding: 11px 10px;
}

.navbarwrap > ul {
  flex: 2;
}

.cover {
  padding: 0 4px 4px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: "Avalon", sans-serif;
}

.cover-image {
  position: relative;
  max-width: 768px;
  height: 220px;
  margin: 8px auto;
  padding: 5px;
  font-family: "Avalon", sans-serif;
  background-image: url("assets/slide1.jpg");
  /* background-position: center; */
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  top: 50px;
}

.cover-link {
  display: block;
  margin: 9px;
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 0;
}

h2 {
  font-family: "Avalon", sans-serif;
  font-size: 15px;
  letter-spacing: -0.015em;
  color: white;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

li.insideauthor {
  display: inline;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  line-height: 16px;
}

/* latestnews */

.news {
  max-width: 92%;
  margin: 13% auto 0;
  padding: 5%;
}

.latestnews {
  font-size: 24px;
  font-family: "Maquette", Helvetica Neue, Arial, sans-serif;
  color: #f42;
  padding-left: 8px;
}

.article-wrap {
  padding: 8px;
  margin-top: 12px;
  /* display: flex; */
  list-style: none;
}

.icon-article {
  width: 75px;
  height: 75px;
}

.article-link {
  display: block;
  margin: 0 10px 5px 8px;
  font-size: 13px;
  color: #555555;
  font-weight: 700;
  line-height: 18px;
}

.article-link:hover {
  text-decoration: underline;
  color: #f42;
}

.image-author {
  display: flex;
  padding: 8px 0;
}

.newsauthor {
  display: block;
  font-size: 12px;
  margin-left: 8px;
}

.pricestyle {
  font-size: 12px;
  margin-left: 8px;
  opacity: 40%;
}

.strikethrough {
  text-decoration: line-through;
}

.price {
  margin-left: 5px;
  font-size: 15px;
  font-weight: lighter;
  opacity: 1;
}

.all-deals {
  position: absolute;
  right: 0;
  top: 11px;
  color: #f42;
  font-size: 14px;
  font-weight: lighter;
  text-align: right;
}

.dealwrapper {
  position: relative;
}
