body {
  margin: 0;
  padding: 0;
}

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  border-left: 1px solid #eee;
  float: left;
  height: 48px;
  padding: 16px;
  width: 48px;
}

li > a {
  /* display: block; */
  height: 48px;
  padding: 16px;
  width: 48px;
  text-align: center;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
}

.navlogo > a {
  background-color: #000;
  display: block;
  height: 18px;
  padding: 16px 20px;
  width: 70px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  border: 3px solid #8AC007;
  text-align: center;
  display: grid;
  grid-template-rows: 50% 50%;
  /* max-height: 375px; */
}

.links {
  text-align: center;
}

.links li {
  color: #aaa;
  display: block;
}

.flex-display {
  display: flex;
}

 .fa {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 3px;
}

.copyright{
  /* background-color: #000; */
  margin: 0 auto;
  
}

.copyright img{
  height: 8px;
}






